
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.large{
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

@media only screen and (max-width: 1200px) {
    .large{
        max-width: 720px;
    }
}

.medium{
    max-width: 800px;
    margin: 0 auto 0 auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 ~ img {
    border: 2px solid rgb(0, 128, 0);
    border-radius: 8px;
}

.img-cap {
    position: absolute; 
    top: 0px; 
    left: 0px;
    background-color: transparent;
    padding: 5px;
}
/* Nagivation */
nav a[href] {
    background-color: #d1ffb8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    transition: background-color 0.15s;
    transition-timing-function: linear;
}

nav a:hover {
    background-color: hsl(120, 73%, 75%);
}

nav a:active{
    background-color: palevioletred;
    color: lightyellow;
}

nav, nav div.flex {
    background-color: rgba(156, 255, 247, 1.0);
}
nav a > img {
    margin-right: 5px;
}

hr {
    border: 1mm solid hsla(274, 100%, 50%, 0.8)
}
div + hr {
    border-width: 0.2em;
    border-style: solid;
    border-color: #000;
}

/* basic information */

pre, code {
    background-color: lightgray;
    display: inline-block;
    padding: 0.1cm;
}
pre {
    position: relative;
    left: 25px;
    font-size: 1vw;
}
code{
    position: relative;
    right: 55px;
    font-size: 1vh;
}

b{
    text-decoration: overline;
}
